---
version: 2
interactions:
    - id: 0
      request:
        host: api.devin.ai
        body: '{"name":"TF VCR Test - Import","body":"Testing import via VCR.","trigger":"Never - VCR import test","pinned_repo":null}'
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://api.devin.ai/v3/organizations/org-vcr-replay/knowledge/notes
        method: POST
      response:
        body: '{"note_id":"note-367a914f861b4f3db4a526719bd458ca","folder_id":null,"folder_path":"/","name":"TF VCR Test - Import","body":"Testing import via VCR.","trigger":"Never - VCR import test","is_enabled":true,"created_at":1779824441,"updated_at":1779824441,"access_type":"org","org_id":"org-vcr-replay","macro":null,"pinned_repo":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.269371ms
    - id: 1
      request:
        host: api.devin.ai
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://api.devin.ai/v3/organizations/org-vcr-replay/knowledge/notes/note-367a914f861b4f3db4a526719bd458ca
        method: GET
      response:
        body: '{"note_id":"note-367a914f861b4f3db4a526719bd458ca","folder_id":null,"folder_path":"/","name":"TF VCR Test - Import","body":"Testing import via VCR.","trigger":"Never - VCR import test","is_enabled":true,"created_at":1779824441,"updated_at":1779824441,"access_type":"org","org_id":"org-vcr-replay","macro":null,"pinned_repo":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.966722ms
[...]
