---
version: 2
interactions:
    - id: 0
      request:
        host: api.devin.ai
        body: '{"name":"TF VCR Test - Basic","body":"Created via go-vcr recorded cassette.","trigger":"Never - VCR test only","pinned_repo":null}'
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://api.devin.ai/v3/organizations/org-vcr-replay/knowledge/notes
        method: POST
      response:
        body: '{"note_id":"note-be546174e0644aa39a6303a4559c6e95","folder_id":null,"folder_path":"/","name":"TF VCR Test - Basic","body":"Created via go-vcr recorded cassette.","trigger":"Never - VCR test only","is_enabled":true,"created_at":1779824433,"updated_at":1779824433,"access_type":"org","org_id":"org-vcr-replay","macro":null,"pinned_repo":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.874428ms
    - id: 1
      request:
        host: api.devin.ai
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://api.devin.ai/v3/organizations/org-vcr-replay/knowledge/notes/note-be546174e0644aa39a6303a4559c6e95
        method: GET
      response:
        body: '{"note_id":"note-be546174e0644aa39a6303a4559c6e95","folder_id":null,"folder_path":"/","name":"TF VCR Test - Basic","body":"Created via go-vcr recorded cassette.","trigger":"Never - VCR test only","is_enabled":true,"created_at":1779824433,"updated_at":1779824433,"access_type":"org","org_id":"org-vcr-replay","macro":null,"pinned_repo":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.486095ms
[...]
