---
version: 2
interactions:
    - id: 0
      request:
        host: api.devin.ai
        body: '{"name":"TF VCR Test - Before Update","body":"Original VCR body.","trigger":"Never - VCR test","pinned_repo":null}'
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://api.devin.ai/v3/organizations/org-vcr-replay/knowledge/notes
        method: POST
      response:
        body: '{"note_id":"note-5e1f7bb7266c4be7ba9670a5f5b51d4c","folder_id":null,"folder_path":"/","name":"TF VCR Test - Before Update","body":"Original VCR body.","trigger":"Never - VCR test","is_enabled":true,"created_at":1779824439,"updated_at":1779824439,"access_type":"org","org_id":"org-vcr-replay","macro":null,"pinned_repo":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 5.367174379s
    - id: 1
      request:
        host: api.devin.ai
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://api.devin.ai/v3/organizations/org-vcr-replay/knowledge/notes/note-5e1f7bb7266c4be7ba9670a5f5b51d4c
        method: GET
      response:
        body: '{"note_id":"note-5e1f7bb7266c4be7ba9670a5f5b51d4c","folder_id":null,"folder_path":"/","name":"TF VCR Test - Before Update","body":"Original VCR body.","trigger":"Never - VCR test","is_enabled":true,"created_at":1779824439,"updated_at":1779824439,"access_type":"org","org_id":"org-vcr-replay","macro":null,"pinned_repo":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.502384ms
[...]
